@page "/{area}"
@namespace SDHC.Areas.Admin.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Common.Services
@inject IConfigService config
@{
  Layout = null;
  var _root = config.AdminTemplete;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Fixed Sidebar</title>
  <base href="~/Admin" />
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="@_root/plugins/fontawesome-free/css/all.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="@_root/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="@_root/css/adminlte.min.css">
  <style>
    .nav-sidebar .menu-open > .nav-treeview {
      display: block !important;
    }
  </style>
</head>
<body id="wrap_body" class="hold-transition sidebar-mini layout-fixed">
  <app>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
  </app>
  <!-- ./wrapper -->
  <!-- jQuery -->
  <script src="@_root/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="@_root/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="@_root/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
  <!-- AdminLTE App -->
  <script src="@_root/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="@_root/js/demo.js"></script>

  <script>
    var JsFunctions = window.JsFunctions || {};
    JsFunctions = {
      setBodyClass: function (className) {
        document.body.className = className || "hold-transition sidebar-mini layout-fixed";
        if (className == 'login-page') {
          document.body.style = null;
        }
      }
    };
  </script>
  <div id="blazor-error-ui">
    <environment include="Staging,Production">
      An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
      An unhandled exception has occurred. See browser dev tools for details.
    </environment>
  </div>

  <script src="/_framework/blazor.server.js"></script>

</body>
</html>


