@using Common.Models.ViewModels
@inherits LayoutComponentBase
@layout _Root

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>@Title</h1>
      </div>
      <div class="col-sm-6">
        <BreadCrumb Models="BreadCrumb"></BreadCrumb>
      </div>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <CascadingValue Value="this">
      @Body
    </CascadingValue>
  </div>

</section>




@code{
  [CascadingParameter]
  public _Root Root { get; set; }

  public IEnumerable<INavigationItem> BreadCrumb { get; set; }
  public string Title { get; set; }

  public void Refresh()
  {
    StateHasChanged();
  }
}



