@inherits SDHCLayoutBase
@layout LayoutBase
@inject IJSRuntime JsRuntime
@inject IConfigService config
<div class="login-box">
  <div class="login-logo">
    <a href="#">
      @config.AdminArea.LogoDisplayText
    </a>
  </div>


  @Body

</div>

@code{

  protected override void OnInitialized()
  {
    base.OnInitialized();
    JsRuntime.InvokeVoidAsync("JsFunctions.setBodyClass", "login-page");
  }
}