@inherits MainSideBarBase

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <BrandLogo Item="Model.Logo"></BrandLogo>
  <!-- Sidebar -->
  <div class="sidebar">
    <SidebarUser User="Model.User"></SidebarUser>
    <SiderMenu NavItems="Model.NavItems"></SiderMenu>
  </div>
</aside>
