@namespace Common.NetCore.Blazor.Layouts
@inherits SidebarUserBase
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
  <div class="image">
    <img src="@(User?.Avatar??"")" class="img-circle elevation-2" alt="@(User?.Alt??"")">
  </div>
  <div class="info">
    <a href="@(User?.Url??"#")" class="d-block">@(User?.DisplayName??"")</a>
  </div>
</div>
